<ion-header>
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Suporte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="body">
    <ion-list>
      <ion-item>
        <ion-label class="question">Como criar uma conta?</ion-label>
        <ion-icon name="add-circle" slot="end"></ion-icon>
        <div class="answer" style="display: none;">Para criar uma conta, clique no botão "Cadastro" e preencha o formulário de registro.</div>
      </ion-item>
      <ion-item>
        <ion-label class="question">Como redefinir minha senha?</ion-label>
        <ion-icon name="add-circle" slot="end"></ion-icon>
        <div class="answer" style="display: none;">Para redefinir sua senha, clique no link "Esqueceu a senha" e siga as instruções.</div>
      </ion-item>
      <!-- Adicione mais perguntas e respostas conforme necessário -->
    </ion-list>

</ion-content>
